################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AMOGUS/v16
/.vs
ProjectAmogus/Assets/Scripts/PlayerChara.cs
